* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(0, 44, 44);
}

.wrapper {
  background-color: rgb(52, 120, 143);
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0 0 50px black;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  gap: 0.5rem;
  color: white;
  text-shadow: 1px 1px black;

  input {
    transition: 0.05s ease;
    border-radius: 1rem;
    border: 1px solid gray;
    padding: 0.5rem 1rem;

    &:focus {
      outline: 2px solid rgb(183, 255, 249);
    }
  }

  button {
    padding: 0.5rem 0;
    border-radius: 0.4rem;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
    margin-top: 1rem;
  }
}

.example-steps {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5rem;
  color: white;
  text-shadow: 1px 1px black;

  p {
    border-top: 1px solid black;
    padding-top: 1rem;

    &:last-of-type {
      border-bottom: 1px solid black;
      padding-bottom: 1rem;
    }
  }
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-shadow: 2px 2px black;
  color: rgb(255, 255, 255);
}

.step {
  background: linear-gradient(
    to right,
    rgb(53, 53, 53),
    rgba(255, 255, 255, 0)
  );

  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10rem;
  padding: 0.6rem;
  padding-left: 1rem;

  &:not(:first-of-type) {
    margin-top: 3rem;
  }
}

.section-step {
  margin-left: 1.4rem;
  font-size: 1.05rem;
}

.matrix-vector {
  margin: 1.5rem auto;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  text-shadow: none;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.matrix-vector thead {
  background-color: rgb(24, 56, 56);
}

.matrix-vector th {
  padding: 18px 24px;
  font-size: 1.2rem;
  font-weight: 600;
  min-width: 60px;
  text-shadow: 2px 2px 2px black;
}

.matrix-vector td {
  border: 1px solid black;
  padding: 18px 24px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 60px;
}

.matrix-vector tbody tr td:last-child {
  border-right: none;
}

.matrix-vector tbody tr td:first-child {
  border-left: none;
}

.matrix-vector tbody tr:last-child td {
  border-bottom: none;
}

.matrix-vector td:last-child {
  background-color: rgb(85, 147, 146);
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
  color: #ffffff;
}
